<h1>All Events</h1>

<a href='/users/{{userId}}/events/new'>Add an Event</a>
<div>
{{#each event}}

<div>Name: {{this.name}}<a href='/users/{{../userId}}/events/{{this._id}}'>View Details</a></div>
<div>Location: {{this.location}}</div>
<div>Date: {{this.date}}</div>

{{/each}}
</body>
</html>
