<h1>{{event.name}}</h1>

<div>Location:{{event.location}}</div>
<div>Date: {{event.date}}</div>
<div>Time: {{event.time}}</div>
<div>Guest Count: {{event.guestCount}}</div>
{{!-- <div>Vendors: <button>View Details</button> --}}

<form action='/users/{{userId}}/events/{{event._id}}/?_method=DELETE' method='POST'>
 <input type="submit" value='Delete Event'>
</form>


{{!-- <div><a href='/users/{{userId}}/events/{{events_id}}/edit'>Edit Band</a></div> --}}